/* for phones */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    /* header section */
    .home{
        height: 150vh;
    }
    .navbar-brand{
        margin-left: 0rem;
    }
    .navbar-nav{
        margin-left: 0;
    
    }
    .container{
        flex-wrap: wrap;
    }
     .container > .pic-index > img{
      width: 300px;
      margin: 0 auto;
    } 
    /* about section */
    .about{
        flex-direction: column;
    }
    #about{
        height: 150vh;
        
    }
    .about-content {
     width: 100%;
    }
    .about-image img{
       display: none;
    }
    

    /* service section */
    #gallery{
        height: 240vh;
        background-attachment:local;
    }
    .card{
        text-align: center;
        max-width: 400px;
         margin: 0 auto; 
         float: none; 
        margin-bottom: 20px; 

    }
    .card:hover{
        transform: none;
        
    }
    #gallery .section-title{
        margin-bottom: 50px;
    }

    /* projects section */
    .portfolio{
        height: 250vh;
    }
    .portfolio .container .row {
        display: flex;
        flex-direction: column;
    }

    .portfolio-item-img{
        position: relative;
        width: 350px;
        height: 200px;
    }
    .portfolio-item-img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .portfolio-items {
        margin-top: 100px;
        flex: 0 0 33%;
        max-width: 100%;
        
    }
   /* actulite */
    .actualite{
        position: relative;
        width: 100%;
        height: 300vh;
        background-image: 
        url('../images/bac3.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80%;
    }
    .actualite > .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .actu-content{
        margin-top: 20px;
        width: 100%;
        border: 3px solid white;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .actualite  .section-title h1{
        color: rgb(255, 255, 255);
        border-bottom: 4px solid rgb(255, 255, 255);
        cursor: pointer;
        margin-bottom: 50px;
       
    }

  }


  /*for ipad*/

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* header section */
    .home{
        height: 125vh;
    }
    .navbar-brand{
        margin-left: 0rem;
    }
    .navbar-nav{
        margin-left: 0;
    
    }
    .container{
        flex-wrap: wrap;
    }
    .container > .pic-index > img{
        width: 500px;
        margin: 0 auto;
      } 
    /* about section */
    .about{
        flex-direction: column;
    }
    #about{
        height: 70vh;
    }
    .about-content {
     width: 100%;
    }
    .about-image img{
       display: none;
    }
    

    /* service section */
    #gallery{
        height: 200vh;
        background-attachment:local;
    }
    .card{
        text-align: center;
        max-width: 400px;
         margin: 0 auto; 
         float: none; 
        margin-bottom: 20px; 

    }
    .card:hover{
        transform: none;
        
    }
    #gallery .section-title{
        margin-bottom: 50px;
    }

    /* portfolio section */
    .portfolio{
        height: 150vh;
    }
    .portfolio .container .row {
        display: flex;
        flex-direction: column;
    }

    /* actualité */
    .actualite{
        position: relative;
        width: 100%;
        height: 200vh;
        background-image: 
        url('../images/bac3.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80%;
    }
    .actualite > .container{
        display: flex;
        flex-direction: row-reverse;
    }
    .actu-content{
        margin-top: 20px;
        width: 100%;
        border: 3px solid white;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .actualite  .section-title h1{
        color: rgb(255, 255, 255);
        border-bottom: 4px solid rgb(255, 255, 255);
        cursor: pointer;
        margin-bottom: 50px;
       
    }

  }